### Connect To Google drive
This will allow this notebook to see your google drive folders.

In [ ]:
from google.colab import drive

drive.mount("/content/gdrive")  
!pwd  # show current path

Mounted at /content/gdrive
/content

Move to the folder where your data set is stored. Change the path to your local drive where the datasets are stored.

In [ ]:
%cd "/content/gdrive/MyDrive/Cursos/Concentración Inteligencia Artificial avanzada para la Ciencia de Datos/Bloque I/Desarrollo de software aplicado a la ciencia de datos/Code"
!ls  # show current directory

/content/gdrive/MyDrive/Cursos/Concentración Inteligencia Artificial avanzada para la Ciencia de Datos/Bloque I/Desarrollo de software aplicado a la ciencia de datos/Code
'integration in PCA.ipynb'    'tutorial python-mysql.ipynb'
 Iris.csv		      'tutorial scikit-learn.ipynb'
 iris.data		      'tutorial scipy.ipynb'
 iris.names		      'tutorial seaborn.ipynb'
'mySQL samples.txt'	      'tutorial visualizing.ipynb'
'titanic train.csv'	       wine.data
'tutorial numpy.ipynb'	       wine.names
'tutorial pandas .ipynb'       winequality-red.csv
'tutorial pythonMongo.ipynb'   winequality-red.gsheet

# Load Dataset

dataframe (df) is the object where pandas stores the data, each colum is actualy a hash containing the name of the column a as a key and the array of values as the value for the key. In this example we are loding the iris.data which is a text file that has no headers. So we need to put the header by hand in the names parameter of the read_csv function.

In [ ]:
import pandas as pd

# columns has the name of each column.
columns = ["sepal length","sepal width","petal length","petal width", "class"]
df = pd.read_csv('iris.data',names = columns)
df.head()

   sepal length  sepal width  petal length  petal width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

you can access the attributes of the dataframe object, for example this is the attribute columns, which has the names of each column in the dataframe.

In [ ]:
df.columns

Index(['sepal length', 'sepal width', 'petal length', 'petal width', 'class'], dtype='object')

You can access a single column as you would a dictionary

In [ ]:
df["sepal length"]

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal length, Length: 150, dtype: float64

you can also get many columns, by providing a list of column names

In [ ]:
df[ ["sepal length","sepal width"] ].head()  # head() returns the first five elements

   sepal length  sepal width
0           5.1          3.5
1           4.9          3.0
2           4.7          3.2
3           4.6          3.1
4           5.0          3.6

This is how you would separate a data frame into training attributes (predictors, or x) and the target value (class, or y).

In [ ]:
df_x = df[["sepal length","sepal width","petal length","petal width"]]
df_y = df[["class"]]

In [ ]:
df_x

     sepal length  sepal width  petal length  petal width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [ ]:
df_y

              class
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

[150 rows x 1 columns]

Each column of a dataframe is defined a Series object, these objects are built on top of and are very similar to numpy arrays. You can even convert them directly using to_numpy()

In [ ]:
print( type(df_x["sepal length"]))

array = df_x["sepal length"].to_numpy()

print(type(array))

print(array)

<class 'pandas.core.series.Series'>
<class 'numpy.ndarray'>
[5.1 4.9 4.7 4.6 5.  5.4 4.6 5.  4.4 4.9 5.4 4.8 4.8 4.3 5.8 5.7 5.4 5.1
 5.7 5.1 5.4 5.1 4.6 5.1 4.8 5.  5.  5.2 5.2 4.7 4.8 5.4 5.2 5.5 4.9 5.
 5.5 4.9 4.4 5.1 5.  4.5 4.4 5.  5.1 4.8 5.1 4.6 5.3 5.  7.  6.4 6.9 5.5
 6.5 5.7 6.3 4.9 6.6 5.2 5.  5.9 6.  6.1 5.6 6.7 5.6 5.8 6.2 5.6 5.9 6.1
 6.3 6.1 6.4 6.6 6.8 6.7 6.  5.7 5.5 5.5 5.8 6.  5.4 6.  6.7 6.3 5.6 5.5
 5.5 6.1 5.8 5.  5.6 5.7 5.7 6.2 5.1 5.7 6.3 5.8 7.1 6.3 6.5 7.6 4.9 7.3
 6.7 7.2 6.5 6.4 6.8 5.7 5.8 6.4 6.5 7.7 7.7 6.  6.9 5.6 7.7 6.3 6.7 7.2
 6.2 6.1 6.4 7.2 7.4 7.9 6.4 6.3 6.1 7.7 6.3 6.4 6.  6.9 6.7 6.9 5.8 6.8
 6.7 6.7 6.3 6.5 6.2 5.9]

you can also make new columns with indicators, since dataframes are based on numpy arrays, you can use the numpy operations across full arrays and you can also slice them.

In [ ]:
df_x["sepal proportion"] = df_x["sepal width"]/df_x["sepal length"]
df_x["petal proportion"] = df_x["petal width"]/df_x["petal length"]
df_x.head()

,sepal length,sepal width,petal length,petal width,sepal proportion,petal proportion
0,5.1,3.5,1.4,0.2,0.686275,0.142857
1,4.9,3.0,1.4,0.2,0.612245,0.142857
2,4.7,3.2,1.3,0.2,0.680851,0.153846
3,4.6,3.1,1.5,0.2,0.673913,0.133333
4,5.0,3.6,1.4,0.2,0.720000,0.142857

In [ ]:
df_x["petal proportion"][3:10] # slice from instance 3 to intance 10

3    0.133333
4    0.142857
5    0.235294
6    0.214286
7    0.133333
8    0.142857
9    0.066667
Name: petal proportion, dtype: float64

### Practice Pandas Loading Data sets.

Open and load the wine data set "wine.data" , it is in the same folder as the iris data set.

Check the names stored in the "wine.names" file to know how to name each column.

In [ ]:
# Specify the names in an list

# Open the file and create the data frame

Separate the data set into df_x and df_y remeber that the class should be in df_y and everything else in df_x.

print the first five elements of df_x and df_y to check that they are correct.

In [ ]:
# Separate into df_x and df_y


# Print df_x first 5


# Print df_y first 5

Create a new column with a ratio of two attribute, i.e. find to attributes that might have some relation and divide one over the other and store as an extra column in df_x

In [ ]:
# Create new column

# Print df_x first 5

separate both  df_x and  df_y into train and test, so that df_train_x and  df_train_y have the first 100 lines and  df_test_x and  df_test_y have the last 50 lines

In [ ]:
# use slices to split df_x and df_y

Load and split a data set

1.  Load a data set into a new padas data frame
2.  Shuffle the rows of the data set
3.  Separate the Data set into train (80%) and test (20%)
4.  Separate the train into x and y separate test into x and y

In [ ]:
# print the head() of train_x, train_y and test_x, test_y

# Cleaing Data

The following part is based in this example from kaggle [https://www.kaggle.com/code/guecoraph/titanic-data-cleaning-model-fitting], try to follow this example first and then try to apply it to the titanic data set on your own.

check for data types

In [ ]:
columns = ["sepal length","sepal width","petal length","petal width", "class"]
df = pd.read_csv('iris.data',names = columns)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal length  150 non-null    float64
 1   sepal width   150 non-null    float64
 2   petal length  150 non-null    float64
 3   petal width   150 non-null    float64
 4   class         150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

check for outliers values too big or to small in a specific atribute

In [ ]:
df[df['sepal width'] > 3.0]

     sepal length  sepal width  petal length  petal width           class
0             5.1          3.5           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
5             5.4          3.9           1.7          0.4     Iris-setosa
..            ...          ...           ...          ...             ...
140           6.7          3.1           5.6          2.4  Iris-virginica
141           6.9          3.1           5.1          2.3  Iris-virginica
143           6.8          3.2           5.9          2.3  Iris-virginica
144           6.7          3.3           5.7          2.5  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica

[67 rows x 5 columns]

check to see if there are eny na (empty values)

In [ ]:
#Check for na's
df.isna().sum()

sepal length    0
sepal width     0
petal length    0
petal width     0
class           0
dtype: int64

if there are some na values, you can impute them by using the mean

In [ ]:
 df['sepal width'].mean()

3.0540000000000003

or you can choose to drop the entire column

In [ ]:
df_sepalless = df.drop(['sepal width'], axis=1)
df_sepalless

     sepal length  petal length  petal width           class
0             5.1           1.4          0.2     Iris-setosa
1             4.9           1.4          0.2     Iris-setosa
2             4.7           1.3          0.2     Iris-setosa
3             4.6           1.5          0.2     Iris-setosa
4             5.0           1.4          0.2     Iris-setosa
..            ...           ...          ...             ...
145           6.7           5.2          2.3  Iris-virginica
146           6.3           5.0          1.9  Iris-virginica
147           6.5           5.2          2.0  Iris-virginica
148           6.2           5.4          2.3  Iris-virginica
149           5.9           5.1          1.8  Iris-virginica

[150 rows x 4 columns]

or you might wish to drop just the rows where you find a specific value. To do this you do not use drop, instead you select the data you wish to keep uding "loc"


*  loc is primarily label based indexing. Integers may be used but they are interpreted as a label.
*  iloc is primarily integer based indexing

In [ ]:
# loc by ocurrence
# df.loc[df["column"] != 0] to keep non zeros

df_spw_35 = df.loc[df["sepal width"] == 3.5]  
df_spw_35

    sepal length  sepal width  petal length  petal width        class
0            5.1          3.5           1.4          0.2  Iris-setosa
17           5.1          3.5           1.4          0.3  Iris-setosa
27           5.2          3.5           1.5          0.2  Iris-setosa
36           5.5          3.5           1.3          0.2  Iris-setosa
40           5.0          3.5           1.3          0.3  Iris-setosa
43           5.0          3.5           1.6          0.6  Iris-setosa

In [ ]:
df.loc[(df["petal width"] > 2.0) & (df["petal length"] > 6.4)]

     sepal length  sepal width  petal length  petal width           class
105           7.6          3.0           6.6          2.1  Iris-virginica
117           7.7          3.8           6.7          2.2  Iris-virginica
118           7.7          2.6           6.9          2.3  Iris-virginica

In [ ]:
# iloc traditional sliing

df.iloc[10:20, 2:4]

    petal length  petal width
10           1.5          0.2
11           1.6          0.2
12           1.4          0.1
13           1.1          0.1
14           1.2          0.2
15           1.5          0.4
16           1.3          0.4
17           1.4          0.3
18           1.7          0.3
19           1.5          0.3

## Practice Cleaning data set

Download and opern the titanic date set from kaggle.

Load it into a pandas dataframe

In [ ]:
# load titanic

check the format of each of the columns to verify correct data type

identify which attributes should be x and which shold be y.
Then check the general statistics of each column.  min max mean null values etc...

decide which varaibles x or columns should stay and which should go based on the relevance of the problem.

analyze the data for outliers or wierd values, if any are found decide based on the domain or the documentarion if the instance should be eliminated or the value imputed

clean empty values, decide wether to impute them or drop them based on the specific cases.

separate your data set into train and test

perform transformations or data scaling (encondings, log, exp, max min, std, etc...)  if you dont know how to do this, then come back to this notebook after we see the topic.