# **Understanding profitability in the US financial market**
##### *Myroslava SÃ¡nchez Andrade A01730712 | 23/08/2022*

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## **Aggregation of firm data per quarter (2000 - 2022Q2)**

In [44]:
# Storing the US firms quarters
us_q = pd.read_csv("dataset/us2022q2a.csv")

# Storing the US firms data
us_firms = pd.read_csv("dataset/usfirms2022.csv")
us_firms = us_firms[["firm", "Name","Sector NAICS\nlevel 1"]]

In [45]:
# Merging the us_q and us_firms DataFrames
us_q = pd.merge(us_q, us_firms, on = ["firm"]) 
us_q

,firm,q,revenue,cogs,sgae,otheropexp,extraincome,finexp,incometax,totalassets,...,longdebt,stockholderequity,adjprice,originalprice,sharesoutstanding,fiscalmonth,year,cto,Name,Sector NAICS\nlevel 1
0,A,2000q1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,63.761670,104.0000,452000.000,NaN,2000.0,1.0,"Agilent Technologies, Inc",Manufacturing
1,A,2000q2,2485000.0,1261000.0,1.010000e+06,0.0,42000.000000,0.000,90000.0,7321000.000,...,0.000,4642000.000,45.215607,73.7500,452271.967,6.0,2000.0,2.0,"Agilent Technologies, Inc",Manufacturing
2,A,2000q3,2670000.0,1369000.0,1.091000e+06,0.0,28000.000000,0.000,83000.0,7827000.000,...,0.000,4902000.000,30.003238,48.9375,453014.579,9.0,2000.0,3.0,"Agilent Technologies, Inc",Manufacturing
3,A,2000q4,3372000.0,1732000.0,1.182000e+06,0.0,10000.000000,0.000,163000.0,8425000.000,...,0.000,5265000.000,33.566841,54.7500,456366.381,12.0,2000.0,4.0,"Agilent Technologies, Inc",Manufacturing
4,A,2001q1,2841000.0,1449000.0,1.113000e+06,0.0,-6000.000000,0.000,119000.0,9208000.000,...,0.000,5541000.000,18.840347,30.7300,456769.737,3.0,2001.0,1.0,"Agilent Technologies, Inc",Manufacturing
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323811,ZYNE,2021q2,0.0,0.0,9.838494e+03,0.0,-117.528220,-5.943,0.0,98195.904,...,468.385,87699.257,5.290000,5.2900,41251.537,6.0,2021.0,2.0,"Zynerba Pharmaceuticals, Inc",Manufacturing
323812,ZYNE,2021q3,0.0,0.0,1.021065e+04,0.0,-376.636750,-5.038,0.0,89996.170,...,411.237,78686.999,4.240000,4.2400,41251.537,9.0,2021.0,3.0,"Zynerba Pharmaceuticals, Inc",Manufacturing
323813,ZYNE,2021q4,0.0,0.0,8.836436e+03,0.0,16.937906,-4.433,0.0,81171.507,...,353.694,70913.334,2.880000,2.8800,41217.537,12.0,2021.0,4.0,"Zynerba Pharmaceuticals, Inc",Manufacturing
323814,ZYNE,2022q1,0.0,0.0,8.903915e+03,0.0,317.252110,-96.044,0.0,74381.029,...,295.754,65166.970,2.050000,2.0500,42447.037,3.0,2022.0,1.0,"Zynerba Pharmaceuticals, Inc",Manufacturing
323815,ZYNE,2022q2,0.0,0.0,9.168770e+03,0.0,-775.927860,-91.691,0.0,67006.959,...,237.414,57241.873,1.140000,1.1400,43595.959,6.0,2022.0,2.0,"Zynerba Pharmaceuticals, Inc",Manufacturing

## **Aggregation of firm data per year (2000 - 2022Q2)**

In [101]:
pd.options.display.max_rows = 100

In [102]:
us_q_agg_sum = us_q.groupby([us_q.firm, us_q.year]).sum().reset_index()
us_q_agg_last = us_q.groupby([us_q.firm, us_q.year]).last().reset_index()

us_y = pd.DataFrame()

us_y["firm"] = us_q_agg_last["firm"]
us_y["name"] = us_q_agg_last["Name"]
us_y["industry"] = us_q_agg_last["Sector NAICS\nlevel 1"]

us_y["year"] = us_q_agg_last["q"].map(lambda x: str(x)[:-2])
us_y["revenue"] = us_q_agg_sum["revenue"]
us_y["cogs"] = us_q_agg_sum["cogs"]
us_y["sgae"] = us_q_agg_sum["sgae"]
us_y["otheropexp"] = us_q_agg_sum["otheropexp"]
us_y["extraincome"] = us_q_agg_sum["extraincome"]
us_y["finexp"] = us_q_agg_sum["finexp"]
us_y["incometax"] = us_q_agg_sum["incometax"]

us_y["totalassets"] = us_q_agg_last["totalassets"]
us_y["totalliabilities"] = us_q_agg_last["totalliabilities"]
us_y["shortdebt"] = us_q_agg_last["shortdebt"]
us_y["longdebt"] = us_q_agg_last["longdebt"]
us_y["stockholderequity"] = us_q_agg_last["stockholderequity"]
us_y["adjprice"] = us_q_agg_last["adjprice"]
us_y["originalprice"] = us_q_agg_last["originalprice"]
us_y["sharesoutstanding"] = us_q_agg_last["sharesoutstanding"]

# Calculating the yearly cc returns
#us_y_agg = 
display(us_y.groupby([us_y.firm], as_index = False)[["adjprice", "year", "firm"]].shift(1))
# print("miau")
# # print(us_y.groupby([us_y.firm])["r"] = np.log(us_y_agg["adjprice"]) - np.log(us_y_agg["adjprice"].shift(1)))
# #us_y["r"]
# #print(np.log(us_y_agg["adjprice"]) - np.log(us_y_agg["adjprice"].shift(1)))

# # Calculating the firm size
# us_y["market value"] = us_y["originalprice"] * us_y["sharesoutstanding"]
# us_y["book value"] = us_y["stockholderequity"]

# # Calculating the sales
# us_y["sales"] = us_y["revenue"]

# # Profit margin measures
# us_y["net income"] = us_y["revenue"] + us_y["extraincome"] - us_y["cogs"] - us_y["sgae"] - us_y["otheropexp"] - us_y["finexp"] - us_y["incometax"]
# us_y["profit margin"] = us_y["net income"] / us_y["sales"]


#us_y

        adjprice  year  firm
0            NaN   NaN   NaN
1      33.566841  2000     A
2      17.479281  2001     A
3      11.011150  2002     A
4      17.926839  2003     A
...          ...   ...   ...
82759  12.520000  2017  ZYNE
82760   2.970000  2018  ZYNE
82761   6.040000  2019  ZYNE
82762   3.300000  2020  ZYNE
82763   2.880000  2021  ZYNE

[82764 rows x 3 columns]

## **2 Business Questions**

### 2.1 General questions

By industry, what is the composition of US public firms in terms of firm size, sales performance and profitability?

In [42]:
# Calculating average firm size, sales performance and profitability of each industry from 2000 to 2022Q2
us_y_agg_industry_mean = us_y.groupby(us_y.industry).mean()
us_y_agg_industry_mean["profit margin"] = us_y_agg_industry_mean["net income"] / us_y_agg_industry_mean["sales"]
us_y_agg_industry_mean[["market value", "book value", "sales", "net income", "profit margin"]]

,market value,book value,sales,net income,profit margin
industry,,,,,
-,5.577295e+06,4.111998e+06,7.950146e+04,45809.000000,0.576203
Accommodation and Food Services,8.892363e+06,1.148291e+06,1.776968e+06,154544.020853,0.086971
Administrative and Support and Waste Management and Remediation Services,1.228795e+07,1.906415e+06,1.325659e+06,142346.148135,0.107378
"Agriculture, Forestry, Fishing and Hunting",7.465416e+06,2.186921e+06,2.381280e+06,186079.920157,0.078143
"Arts, Entertainment, and Recreation",1.938675e+07,5.399205e+06,2.700349e+06,209934.261422,0.077743
Construction,2.985727e+06,1.635977e+06,2.542521e+06,110922.478487,0.043627
Educational Services,1.815934e+06,8.262262e+05,6.354223e+05,43453.976618,0.068386
Finance and Insurance,8.030993e+06,5.323538e+06,1.925706e+06,295518.810700,0.153460
Health Care and Social Assistance,3.769758e+06,9.278276e+05,1.650939e+06,52775.808134,0.031967
Information,1.900308e+07,4.626684e+06,2.247313e+06,256909.374439,0.114318
Manufacturing,1.073250e+07,2.774661e+06,2.590837e+06,208725.237401,0.080563
"Mining, Quarrying, and Oil and Gas Extraction",7.227648e+06,3.353853e+06,2.113744e+06,89744.624817,0.042458
Other Services (except Public Administration),2.378524e+06,5.189771e+05,8.110886e+05,131216.118274,0.161778
"Professional, Scientific, and Technical Services",1.442821e+07,2.703727e+06,1.262006e+06,170493.022551,0.135097
Real Estate and Rental and Leasing,3.658405e+06,1.170583e+06,9.515620e+05,51501.535366,0.054123
Retail Trade,1.645813e+07,3.245987e+06,9.845086e+06,341246.691296,0.034662
Transportation and Warehousing,1.075675e+07,3.565405e+06,5.138971e+06,219478.485014,0.042709
Utilities,1.063336e+07,5.716133e+06,4.377570e+06,321420.816390,0.073424
Wholesale Trade,4.241174e+06,1.456441e+06,7.403745e+06,108352.364646,0.014635

Why some firms are more profitable than others? Which factors/variables from financial statements are related to stock returns?